<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="/css/studentProfile.css">
    <script src="/js/jquery-3.3.1.js"></script>
    <meta charset="UTF-8">
    <title>HappyIntern</title>

    <script>


        function checkpassword() {
            var passWord = $("#password").val();
            var reg_password =/^\w{8,20}$/;
            if (reg_password.test(passWord)){
                return true;
            }
            else{
                return false;
            }
        }
        function checkEmail(){
            var Email = $("#supmail").val();
            var reg_email = /^[a-z0-9]+@[a-z0-9]+(\.[a-z]+){1,5}$/;
            if(reg_email.test(Email)){
                return true;
            }
            else{
                return false;
            }

        }

        function checkForm(){
            var userName = $("#supname").val();
            var reg_uername =/^\w{3,20}$/;
            var errorInfo;
            if (reg_uername.test(userName)){
                if( checkpassword()){
                    if(checkEmail()) {

                        if ( $("#title").val() !== "") {
                            return true;

                        } else {
                            errorInfo = "Complete all your information please ";
                            alert(errorInfo);
                            return false;
                        }

                    }
                    else {
                        errorInfo = "Email format error!!!!!\r\n"
                        alert(errorInfo);
                        return false;

                    }

                }
                else{
                    errorInfo = "Password format error\r\nPlease input 8-20 character\nNo case-sensitive"
                    alert(errorInfo);
                    return false;
                }
            }
            else{
                errorInfo = "Username format error\r\nPlease input 8-20 character\r\nNo case-sensitive" ;
                alert(errorInfo);

                return false;
            }



        }

        $(function () {

            $.post("/loginTest/supervisor", $(), function (data) {
                if (data.flag) {
                    var username = data.data.supname;
                    var password = data.data.password;
                    var school = data.data.school;
                    var supmail = data.data.supmail;
                    var title = data.data.suptitle;



                    $("#username").html( "<a href='' id='username'>"+username+"</a>");

                    $("#supname").val(username);
                    $("#password").val(password);
                    $("#supmail").val(supmail);
                    $("#school").val(school);
                    $("#title").val(title);

                } else {
                    /* alert(data.errorMsg);*/
                }

            });
            $("#saveButton").click(function () {
                if (checkForm()) {
                    $.post("/supervisor/updateSupervisor", $("#registForm").serialize(), function (data) {
                        if (data.flag) {
                            alert("Sucessful, you should login now");
                            location.href = "/supervisor/index";

                        } else {
                            alert(data.errorMsg);
                        }

                    });

                }
                else return;
            });

            $("#logOutButton").click(function () {
                if (checkForm()) {
                    $.post("/supervisor/logOutSupervisor", $(), function () {
                        location.href = "/supervisor/index";

                    });
                }
            });




            $("#Profile").click(function () {
                $.post("/loginTest/supervisor", $(), function (data) {
                    if (data.flag) {
                        location.href = "/supervisor/profilePage";
                    } else {
                        alert(data.errorMsg);
                    }

                });

            });


        });
    </script>
</head>
<body>
<div class="topbar">
    <div class="container">
        <a href="/supervisor/index"><img src="/img/logo.png" alt="HappyIntern" style="width: 90px; height: 65px; float: left"></a>
        <div class="topbar-left">
            <span>|</span>
            <a  id="MyAdvertisement" style="    border-bottom: 5px solid #EEEEEE; ">WeeklyReports</a> <span>|</span>
            <!-- <a  id="applyHistory">ApplyHistory</a><span>|</span>-->
            <a  id="Profile">Profile</a> <span>|</span>
        </div>
        <div class="topbar-right">
            <a href="/supervisor/loginPage" id="username">Login</a>
        </div>
    </div>
</div>

<div class="bigBox">
    <div class="innerBox">
        <!--        <div class="buttonBox">
                    <a class="signIn" href="registPage"> Register </a>&lt;!&ndash;<span>|</span>&ndash;&gt;
                    <a class="logIn"  href="loginPage"> Log in </a>
                </div>-->
        <form id="registForm" name="registForm" class="signForm" method="post" >
            <div class="divname">
                <label class="username">Username</label>
                <input type="text" class="Inputname" id="supname" name="supname">
            </div>
            <div class="divpassword">
                <label class="password">Password</label>
                <input type="text" class="Inputpassword" id="password" name="password">
            </div>
            <div>
                <label >Email</label>
                <input type="text"  id="supmail" name="supmail">
            </div>
            <div>
                <label >title</label>
                <input type="text"  id="title" name="suptitle">
            </div>
            <div>
                <label >school</label>
                <input type="text"  id="school" name="school">
            </div>

            <div class="clean"> </div>
            <div class="divbutton">
                <input type="button" id ="saveButton"  name="button" value="Update"
                       style="
            background-color: #e84188;
            float: none;
             max-width: 290px;
            font-weight: 700;
            font-size: 22px;
            Helvetica,Arial,sans-serif;
            color: #333;
            border: 1px solid #d6d6d6;
            height: 2.8rem;
            box-sizing: border-box;
            margin: 0 auto 20px;
            width: 100%;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            line-height: 1.53334;
            border-radius: 4px;
              }">
            </div>
            <div class="clean">
                <input type="button" id ="logOutButton"  name="button" value="Logout"
                       style="
            background-color: #e84188;
            float: none;
             max-width: 290px;
            font-weight: 700;
            font-size: 22px;
            Helvetica,Arial,sans-serif;
            color: #333;
            border: 1px solid #d6d6d6;
            height: 2.8rem;
            box-sizing: border-box;
            margin: 0 auto 20px;
            width: 100%;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            line-height: 1.53334;
            border-radius: 4px;
              }"></div>
        </form>
    </div>
</div>

</body>
</html>