<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{/css/studentLogin.css}" rel="stylesheet" type="text/css"/>
    <script src="/js/jquery-3.3.1.js"></script>
    <meta charset="UTF-8">
    <title>HappyIntern</title>
    <script>
        function checkForm(){
            if ($("#supname").val() !== "" && $("#password").val() !== "" ) {
                return true;

            } else {
                errorInfo = "Complete all your information please ";
                alert(errorInfo);
                return false;
            }
        }

        $(function () {
            $("#button").click(function () {
                if(checkForm()) {
                    $.post("/supervisor/loginSupervisor", $("#registForm").serialize(), function (data) {
                        if (data.flag) {

                            var username = $("#supname").val();
                            alert("Welcome back "+username + " !");

                            location.href = "/supervisor/index";


                        } else {
                            alert(data.errorMsg);
                        }

                    });

                }
                else return;
            });


            $("#toplogo").click(function () {
                $.post("/loginTest/supervisor", $(), function (data) {
                    if (data.flag) {
                        location.href = "/supervisor/index";
                    } else {
                        alert(data.errorMsg);
                    }

                });

            });


        });

    </script>
</head>
<body>
<div class="topbar">
    <a    id="toplogo" STYLE="text-align: center; display: block; width: 120px;margin: auto" >
        <img src="/img/logo.png" alt="HappyIntern" style="width: 120px; height: 65px;">
    </a>

</div>

<div class="bigBox">
    <div class="innerBox">
        <div class="buttonBox">
            <a class="signIn" href="/supervisor/loginPage"> Log In </a><!--<span>|</span>-->
            <a class="logIn"  href="/supervisor/registPage"> Register </a>
        </div>
        <div class="clean" style="    margin: auto;
    display: block;
    width: 500px;
    height: 40px;
    /*border: #FF5555 solid 1px;*/
  "> </div>

        <form id="registForm" name="registForm" class="signForm" method="post" >
            <div class="divname">
                <label class="ename">Username</label>
                <input type="text" class="Inputname" id="supname" name="supname">
            </div>
            <div class="divpassword">
                <label class="password">Password</label>
                <input type="password" class="Inputpassword" id="password" name="password">
            </div>
            <div class="clean" > </div>
            <div class="divbutton">
                <input type="button" id ="button"  name="button" value="Login"
                       style="
            background-color: #e84188;
            float: none;
             max-width: 290px;
            font-weight: 700;
            font-size: 22px;
            Helvetica,Arial,sans-serif;
            color: #333;
            border: 1px solid #d6d6d6;
            height: 2.8rem;
            box-sizing: border-box;
            margin: 0 auto 20px;
            width: 100%;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            line-height: 1.53334;
            border-radius: 4px;


              }">

            </div>

        </form>
    </div>

</div>

</body>
</html>