
body{
    margin: 0;
    padding: 0; /* 去除白边*/

    font: .8em Arial, Tahoma, Verdana;

}

body{
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    background: #f5f5f5;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}



.topbar {

    background-color: #095bbc;
    height: 60px;
    width: 100%;
    border: 2px solid #095bbc;
    box-shadow:-5px -5px 10px rgba(0,0,0,.2) inset;
}

.container{
    margin: 0 auto; /* 剧中设置， 上下0， 左右自动*/
    width: 1226px;
    /* border: 1px solid black; */
    height: 60px;
    line-height: 60px;
}
.container::before { /*伪元素消除塌陷， 清理浮动，有 float的div 都要记得清理*/
    content: "";
    display: table;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.topbar a{
    text-decoration: none;
    color: #EEEEEE;
    font-size: 20px;
}
.topbar a:hover{ /*当鼠标移动到字上时*/
    color:#000000;
}

.topbar-left{
    float: left;


}
.topbar-right,.cart {
    float: right;
}

.cart a{

    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center; /* 文本居中*/
    width :180px;

}
.cart a:hover {
    background-color:#fff;
    color: #ff6700;
}
.topbar-right a{
    float: left;
    padding: 0 5px; /*文字居中*/
    line-height: 60px;
    height: 60px;
    font-size: 20px;
}
span{
    font-family: sans-serif;
    font-size: 20px;
    color: #424242;
    line-height: 60px;
    height: 60px;
    margin: 20px;
}
.icon{
    text-align: center;
    float: left;
    line-height: 60px;
    height: 60px;
    width: 120px;
    text-decoration: none;

}


.searchbox{
    height: 300px;
    width: 100%;
    background-color: #999999;
    background-image: url("https://www.reed.co.uk/resources/images/cms/homepage/hero-image-desktop-background/hero-image-desktop-background-3.jpg");
}
.searchbar{
    padding-top: 100px;
    height: 77px;
    width: 100%;
}

.logo{
    margin-left: 30%;
    float: left;
    width: 75px;
    height: 75px;
    padding-bottom: 3px;

}
.logo img{
    padding-bottom: 5px;
    margin-bottom: 3px;
}


.search{

    float: left;
    height: 70px;
    line-height: 70px;
    width: 498px;
}
.search_input{
    width: 400px;
    height: 36px;
    border: 2px solid #ffc900;
    font-size: 1.3333333333rem;
}
.search-button{
    margin-top: 12px;
    float: right;
    display: block;
    width: 90px;
    height: 40px;
    background: #ffc900;
    text-align: center;
    line-height: 40px;
    color: #000;
    font-size: 18px;
}


.advertiseList{
    list-style: none;
    padding: 0px;
    display: block;
    box-sizing: border-box;

}

ul{
    list-style-type: none;
    width: 99%;
    margin: 0;
    box-sizing: border-box;
    display: block;

}

li{
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;

    width: 30%;
    margin-bottom: 30px;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

ul a{
    border-radius: 4px;
    background: #fff;
    border: 1px solid #eaeaea;
    display: block;
    text-align: center;
    max-width: 100%;
    font-size: .9333333333rem;
    overflow: hidden;
    -webkit-transition: border .2s ease-in;
    transition: border .2s ease-in;
    text-decoration: none;

}

.logo2 {
    padding: 5px;
    display: block;
    margin: 3px;
}

.logo2>img {
    width: auto;
    max-height: 105px;
    margin: 0 auto;
    border-bottom:1px solid #eaeaea ;
}

.text{
    font-size: 20px;
    display: block;
    margin: 5px 30px;
    padding-top: 2px;
    line-height: 29px;

    color: #777;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
