ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '微软雅黑';
}
.topbar{

    background-color: #095bbc;
    height: 60px;
    width: 100%;
    border: 2px solid #095bbc;
    box-shadow:-5px -5px 10px rgba(0,0,0,.2) inset;
}

.container{
    margin: 0 auto; /* 剧中设置， 上下0， 左右自动*/
    width: 1226px;
    /* border: 1px solid black; */
    height: 60px;
    line-height: 60px;
}
.container::before { /*伪元素消除塌陷， 清理浮动，有 float的div 都要记得清理*/
    content: "";
    display: table;
}

.container::after{
    content: "";
    display: table;
    clear: both;
}

.topbar a{
    text-decoration: none;
    color: #EEEEEE;
    font-size: 20px;
}
.topbar a:hover{ /*当鼠标移动到字上时*/
    color:#000000;
}

.topbar-left{
    float: left;


}
.topbar-right,.cart {
    float: right;
}

.cart a{

    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center; /* 文本居中*/
    width :180px;

}
.cart a:hover {
    background-color:#fff;
    color: #ff6700;
}
.topbar-right a{
    float: left;
    padding: 0 5px; /*文字居中*/
    line-height: 60px;
    height: 60px;
    font-size: 20px;
}
span{
    font-family: sans-serif;
    font-size: 20px;
    color: #424242;
    line-height: 60px;
    height: 20px;
    margin: 20px;
}
.icon{
    text-align: center;
    float: left;
    line-height: 60px;
    height: 60px;
    width: 120px;
    text-decoration: none;

}

a {
    color: #000;
}
.contant {
    width: 1180px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.page_one .crumbs {
    width: 100%;
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    overflow: hidden;
}

.page_one .crumbs span {
    color: #ff4848;
}
.page_one .xinxi {
    font-size: 16px;
}
.page_one .xinxi .left {
    margin: auto;
    width: 920px;

}
.page_one .xinxi .left .header {
    background-color: #eee;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    padding-left: 150px;
    margin-bottom: 25px;
}
.page_one .xinxi .left .header span {

    margin-bottom: 15px;
}
.page_one .xinxi .left .header .jg {
    margin-left: 35%;
}
.page_one .xinxi .left > ul li {
    width: 100%;
    height: 100px;
    border: 1px solid #eee;
    border-left: 0;
    margin-bottom: 15px;
    overflow: hidden;
}
.page_one .xinxi .left > ul li .img {
    width: 300px;
    height: 170px;
    float: left;
}
.page_one .xinxi .left > ul li .text1 {
    text-align: center;
    float: left;
    width: 300px;
    padding: 20px;
    color: #a3a3a3;
    font-size: 14px;
    border-right: 1px solid #eee;
}
.page_one .xinxi .left > ul li .text1 p:nth-of-type(1) {
    width: 300px;
    color: #000;
    font-size: 18px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.page_one .xinxi .left > ul li .price {
    width: 540px;
    text-align: center;
    float: left;

    font-size: 16px;
}
.page_one .xinxi .left > ul li .price p {
    height: 25px;
    line-height: 25px;
    line-height: 1;
    margin-top: 10px;
}
.page_one .xinxi .left > ul li .price .price_num {
    display: block;
    height: 25px;
    line-height: 25px;
    font-size: 20px;

}

.text1 img{
    border-bottom: 1px solid #eee;


}
.page_one .xinxi .left > ul li .price .price_num span:nth-of-type(3) {
    font-size: 16px;
}
.page_one .xinxi .left .page_num_inf {
    color: #878787;
    font-size: 19px;
    margin-bottom: 20px;
}
.page_one .xinxi .left .page_num_inf i {
    float: left;
    width: 4px;
    background-color: #878787;
    height: 20px;
    margin-top: 5px;
    margin-right: 10px;
}
.page_one .xinxi .left .page_num_inf span {
    color: #ff4848;
}
.page_one .xinxi > .right {
    width: 244px;
    height: 460px;
    float: right;
    background-color: #f7f7f7;
    padding: 8px;
    padding-top: 0;
    font-size: 14px;
}
.page_one .xinxi > .right .top {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 2px solid #eee;
    margin-bottom: 8px;
}
.page_one .xinxi > .right .top .hot {
    float: left;
    color: #ff4848;
    margin-right: 7px;
    line-height: 38px;
    border-bottom: 4px solid #ff4848;
}
.page_one .xinxi > .right ul li {
    width: 100%;
    height: 72px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    font-size: 12px;
    overflow: hidden;
    background-color: #fff;
}
.page_one .xinxi > .right ul li .left {
    float: left;
    width: 50%;
}
.page_one .xinxi > .right ul li .left img {
    border-bottom: 1px solid #eee;
    width:100%;
}
.page_one .xinxi > .right ul li .right {
    width: 50%;
    float: right;
    padding-left: 4px;
    box-sizing: border-box;
    padding-top: 7px;
}
.page_one .xinxi > .right ul li .right p:nth-of-type(1) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-weight: bold;
    margin-bottom: 3px;
}
.page_one .xinxi > .right ul li .right p > span {
    font-size: 16px;
    color: #ff4848;
    font-weight: bold;
    margin-left: 2px;
}


.button{
    background-color: #e84188;
    float: none;
    max-width: 290px;
    font-weight: 700;
    font-size: 22px;
    color: #333;
    border: 1px solid #d6d6d6;
    height: 2.8rem;
    box-sizing: border-box;
    margin: 0 auto 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    line-height: 1.53334;
    border-radius: 4px;
    padding: 8px 12px;

}

.buttons{
    margin-top: 15px;
}

li p a {
    background-color: #42b983;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    text-decoration: none;
}

li p input {
    background-color: #42b983;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    text-decoration: none;
}