<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css"/>
    <meta charset="UTF-8">
    <title>HappyIntern</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
</head>
<body>


<!--<a href="infTest.html"> tiaozhuancesh</a>-->

<!--<br>
<a href="fileUpload.html"> test</a>&ndash;&gt;-->

<div class="cover-main">

    <p align="center">
   <!-- <img src="https://my-blog-to-use.oss-cn-beijing.aliyuncs.com/2019-3logo-透明.png" width="">-->
     <img src="/img/favicon.png"width="180px" height="180px">
    </p>
    <h1 align="center">Select Your Identity</h1>
    <br>
    <p> <a href="/student/index">Student</a>
        <a href="/enterprise/loginPage">Enterprise</a>
        <a href="/supervisor/loginPage">Supervisor</a>
    </p>

</div>

</body>
</html>