<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dongdong.internship.mapper.FileMapper">

    <insert id="addFile" parameterType="PDFFile" >
        INSERT INTO
            file
            (fname,sid,fplace,fdescription,createdate)
        VALUES
            ( #{fname}, #{sid},#{fplace}, #{fdescription},#{createdate})
    </insert>

    <select id="queryFileBySid" resultType="PDFFile">
        select * from file where sid=#{sid}
    </select>

    <select id="queryFileByFid" resultType="PDFFile">
        select * from file where fid=#{fid}
    </select>

    <delete id="deleteFile" parameterType="Integer">
DELETE  FROM file where fid = #{fid}
    </delete>

</mapper>